.modal {
  visibility: hidden;
  background-color: #00000080;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.modal_is-opened {
  visibility: visible;
}

.modal__container {
  max-width: 640px;
  width: 100%;
  border-radius: 8px;
  background-color: #fff;
  padding: 32px 50px;
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  color: #212121;
  opacity: 40%;
}

.modal__close-x {
  width: 32px;
  height: 32px;
}

.modal__close-x:hover {
  color: #171717;
}

.modal__title {
  margin: 0 0 32px;
  font-weight: 500;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__label {
  margin: 0 0 32px;
  font-size: 15px;
  color: #212121b2;
}

.modal__input {
  display: block;
  width: 630px;
  height: 52px;
  border-radius: 8px;
  margin: 8px 0 0;
}

.modal__input::placeholder {
  color: #2121214d;
}

.modal__submit-btn {
  width: 156px;
  height: 52px;
  border-radius: 8px;
  background-color: black;
  color: #fcf5e5;
}

.modal__title {
  font-size: 32px;
}
